.top {
    /* background-color: #fbfbfb; */
}

.top * {
    /* background-color: #fbfbfb; */
}

.readerApp {    
    margin: auto;
    width: 80vw;
}

.mainContent {
    font-size: 13px;
}

.divHelpInfoMain {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.divHelpInfoButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 35px;
    padding-right: 35px;
    color: #0044cc;
    opacity: .25;
}

.divHelpInfoButton:hover {
    opacity: 1;
}

.divHelpInfoButtonText {
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 10px;
}