.readerApp {    
    margin: auto;
    width: 80vw;
}

.mainContent {
    font-size: 13px;
}

.divMainContentButtons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.divMainContentButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    margin-right: 10px;
    width: 120px;
    height: 120px;
}

.divMainContentButton:hover {
    background-color: #f7f7f7;
    border-radius: 14px;
}

.divMainContentButtonText {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}