.iconButton {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 6px;    
}

.header {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

/* .header * {
    background-color: #fbfbfb;
} */

.headerTitle {
    display: flex;
    align-items: center;
    line-height: 10px;
}

.headerTitleText {
    font-size: 20px;
}

.headerTitleIcon {
    color: #ff8000;
    padding-right: 5px;
}

.headerButtonsCenter {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    line-height: 10px;    
}

.headerButtonCenter {
    background-color: #ffffff;
    transition: transform .2s;
}

.headerButtonCenter:hover {
    transform: scale(1.4);
}

.headerButtonsRight {
    display: flex;
    align-items: center;
    line-height: 10px;
}

.headerHelpButton {
    margin-left: 6px;
    padding: 4px;
    background-color: #ffffff;
}

.headerCodeLink {
    margin-left: 6px;
    padding: 4px;
}