* {
    box-sizing: border-box;
    font-family: sans-serif;    
    /* background:#ccc none repeat scroll 0 0; */
    background-color: #ffffff;
}

.flexrow {
    display: flex;
    flex-direction: row;    
}

.clickable {
    cursor: pointer;
}

body {    
    margin: auto;    
    width: 95%;
}

header {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

header div {
    display: flex;
    align-items: center;
    line-height: 10px;
}

header > div:first-child > i {
    color: #ff8000;
    padding-right: 5px;
}

header > div > p {
    font-size: 20px;
}

header > div:last-child {
    display: flex;
    align-items: center;
}

header > div:last-child > i {
    color: black;
}

main {
    font-size: 13px;
}

.divFeedBar {
    border: 2px solid #333333;
    border-radius: 5px;
    /* border-radius: 10px; */
    padding: 10px;
    display: flex;    
}

/* .divFeedBar div {
    margin-right: 5px;
} */

.divAdd {
    display: flex;
    align-items: center;
    padding-left: 4px;
    padding-right: 10px;
    border-right: 2px solid #333333;
}

.divAdd > a {
    cursor: pointer;
    color: #29a3a3;
    padding: 10px;
    transition: transform .2s;
}

.divAdd > a:hover {
    transform: scale(1.5);
}

.addButtonModal div {
    margin: 5px;
}

.multiFeedModal {
    display: flex;
    flex-direction: column;
}

.multiFeedModal div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 6px;
    margin-left: 40px;
    margin-bottom: 6px;
    background-color: #ffebe6;
    width: 80%;
}

.multiFeedModal label {
    background-color: #ffebe6;
}

.divAllFeeds {
    display: flex;
    align-items: center;
    /* border-left: 1px solid #cccccc; */
    padding-left: 10px;
    border-right: 1px solid #cccccc;
    padding-right: 10px;
}

.divAllFeeds a {
    cursor: pointer;
    padding: 10px;
    border: 2px solid #f2f2f2;
    border-radius: 30px;
    min-width: 80px;
    transition: transform .2s;
}

.divAllFeeds a:hover {
    transform: scale(1.1);
}

/* .divAllFeeds a:hover:not(.divFeedsActive) {
    background-color: #f6f6f6;
} */

.divFeeds {
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
    padding-left: 10px;
    padding-right: 10px;
}

.divFeeds a {
    cursor: pointer;
    padding: 10px;
    margin-right: 4px;
    border: 2px solid #f2f2f2;
    border-radius: 30px;
    min-width: 80px;
    transition: transform .2s;
}

.divFeeds a:hover {
    transform: scale(1.1);
}

/* .divFeeds a:hover:not(.divFeedsActive) {
    background-color: #f6f6f6;
} */

.divFeedsActive {
    background-color: #4d4d4d;
    color: white;
}

.divFeedArticles {
    margin-top: 8px;
    /* height: 100px; */
    
}

.divFeedArticles .divFeedArticlesControls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    line-height: 5px;
}

.divFeedArticles .divFeedArticlesControls > p {
    font-size: 16px;
    font-weight: 600;
}

.divFeedArticles .divFeedArticlesControls > div a {
    padding-left: 20px;
}

.divFeedArticles .divFeedArticlesList {
    overflow: auto;
    max-height: 500px;
}

.divFeedArticles article {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 6px;
}

article[name="feedArticle"] > button {    
    cursor: pointer;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    border: none;
    outline: none;
    width: 100%;
    line-height: 14px;
    transition: 0.4s;
}

article[name="feedArticle"] > button > div {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%; 
    background-color: #333333;
    color: #ffffff;
}

article[name="feedArticle"] > button > div div {
    display:flex;
    flex-direction: row;
    align-items: center;
}

article[name="feedArticle"] > button > div i {
    padding-left: 15px;
}

article[name="feedArticle"] > button,
article[name="feedArticle"] > button > div p,
article[name="feedArticle"] > button > div div,
article[name="feedArticle"] > button > div i {
    background-color: #333333;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
}

article[name="feedArticle"] section {
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}