* {
    box-sizing: border-box;
    font-family: 'Segoe UI',Arial,sans-serif;
    background-color: #ffffff;
}

.flexrow {
    display: flex;
    flex-direction: row;    
}

.clickable {
    cursor: pointer;
}

.truncate {
    width: 80vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

body {    
    margin: auto;    
    width: 95%;
}

header {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

header div {
    display: flex;
    align-items: center;
    line-height: 10px;
}

header > div:first-child > i {
    color: #ff8000;
    padding-right: 5px;
}

header > div > p {
    font-size: 20px;
}

header > div:last-child {
    display: flex;
    align-items: center;
}

header > div:last-child > i {
    color: black;
}

main {
    font-size: 13px;
}

.divFeedBar {
    border: 3px solid #333333;
    border-radius: 5px;
    padding: 10px;
    display: flex;
}

.divAdd {
    display: flex;
    align-items: center;
    padding-left: 4px;
    padding-right: 10px;
    border-right: 2px solid #333333;
}

.divAdd > a {
    cursor: pointer;
    color: #29a3a3;
    padding: 10px;
    transition: transform .2s;
}

.divAdd > a:hover {
    transform: scale(1.5);
}

.addButtonModal div {
    margin: 5px;
}

.multiFeedModal {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.multiFeedModal div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 6px;
}

.multiFeedModal label {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0px;
}

.multiFeedModal label > p {
    padding: 2px;
    margin: 0;
    text-align: left;
}

.multiFeedModal label > p:last-child {
    font-size: 13px;
}

.multiFeedModal div,
.multiFeedModal label,
.multiFeedModal div p {
    background-color: #F5FCFF;
}

.divAllFeeds {
    display: flex;
    align-items: center;
    padding-left: 10px;
    border-right: 1px solid #cccccc;
    padding-right: 10px;
}

.divAllFeeds a {
    cursor: pointer;
    padding: 10px;
    border: 2px solid #f2f2f2;
    border-radius: 30px;
    min-width: 80px;
    transition: transform .2s;
}

.divAllFeeds a:hover {
    transform: scale(1.1);
}

/* .divAllFeeds a:hover:not(.divFeedsActive) {
    background-color: #f6f6f6;
} */

.divFeeds {
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
    padding-left: 10px;
    padding-right: 10px;
}

.divFeeds a {
    cursor: pointer;
    padding: 10px;
    margin-right: 4px;
    border: 2px solid #f2f2f2;
    border-radius: 30px;
    min-width: 80px;
    transition: transform .2s;
    text-align: center;
}

.divFeeds a:hover {
    transform: scale(1.1);
}

/* .divFeeds a:hover:not(.divFeedsActive) {
    background-color: #f6f6f6;
} */

.divFeedsActive {
    background-color: #4d4d4d;
    color: white;
}

.divFeedArticles {
    margin-top: 8px;
    width: 100%;
}

.divFeedArticles .divFeedTitle {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}

.divFeedArticles > section {
    display: flex;
    flex-direction: row;
}

.divFeedArticles > section > div:first-child {
    margin-right: 20px;
}

.divFeedArticles .divFeedArticlesControls {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.divFeedArticles .divFeedArticlesControls > * {
    display: block;
    margin-bottom: 40px;
}

.divFeedArticles .divFeedArticlesControls > img {
    width: 64px;
    height: 64px;
}

.divFeedArticles .divFeedArticlesControls > a > i {
    font-size: 40px;
}

.divFeedArticles .divFeedArticlesList {
    display: flex;
    flex-direction: column;
    overflow: visible;
    max-height: 60vh;
}

.divFeedArticles article {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 1px;
}

article[name="feedArticle"] > button {    
    cursor: pointer;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    border: none;
    border-radius: 5px;
    outline: none;
    width: 100%;
    line-height: 16px;
    transition: 0.4s;
}

article[name="feedArticle"] > button > div {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%; 
    background-color: #404040;
    color: #ffffff;
}

article[name="feedArticle"] > button > div > p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    width: 65vw;
}

article[name="feedArticle"] > button > div div {
    display:flex;
    flex-direction: row;
    align-items: center;
}

article[name="feedArticle"] > button > div div p {
    text-align: right;
    white-space: nowrap;
}

article[name="feedArticle"] > button > div i {
    padding-left: 15px;
}

article[name="feedArticle"] > button,
article[name="feedArticle"] > button > div p,
article[name="feedArticle"] > button > div div,
article[name="feedArticle"] > button > div i {
    background-color: #404040;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
}

article[name="feedArticle"] section {
    background-color: #fafafa;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    overflow: auto;
    transition: max-height 0.2s ease-out;
}

article[name="feedArticle"] section > * {
    background-color: #fafafa;
    padding: 2px;
}

article[name="feedArticle"] section > div:first-child {
    display: flex;
    justify-content: flex-start;
}

article[name="feedArticle"] section > div:first-child > button {
    cursor: pointer;
    outline: hidden;
    border: none;
    background-color: #fafafa;
}

article[name="feedArticle"] section p {
    background-color: #fafafa;
    padding-right: 2px;
}

.divViewLink {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divViewLink a > p {
    font-size: 13px;
}

.divViewLink iframe[name="extLinkFrame"] {
    width: 100%;
    height: 80vh;
}

.swalPopup {
    height: 100%;
}

.divEnclosure > p {
    font-size: 13px;
}