.truncate {
    width: 80vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.addEditButtonModal {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.addEditButtonModalItem {
    margin: 2px;
    font-size: 13px;
}

.divViewLink {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divViewLinkText {
    font-size: 13px;
}

.divViewLinkFrame {
    width: 100%;
    height: 80vh;
}

.swalPopup {
    height: 100%;
}

.divEnclosure {
    display: flex;
    flex-direction: column;
}

.enclosureAudio {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.audioElement {
    outline: none;
    margin-right: 10px;
}