:root {
    --mainBackgroundColor: #ffffff;
    --feedButtonColor: #698896;
    --feedButtonTextColor: #fbfbfb;
    --feedButtonHoverColor: #ffffff;
    --feedButtonHoverTextColor: #698896;
}

.iconButton {
    border: none;
    outline: none;
    cursor: pointer;
}

.divFeedBar {
    border: 2px solid #879fab;
    border-radius: 5px;
    background-color: var(--mainBackgroundColor);
    padding: 10px;
    display: flex;
    align-items: flex-start;
    min-width: 100%;
    position: sticky;
    top: 10px;
    z-index: 100;
}

.divAdd {
    display: flex;
    align-items: flex-start;
    padding-left: 4px;
    padding-right: 6px;
}

.divAddLink {
    padding: 8px;
    background-color: var(--mainBackgroundColor);
}

.divAllFeeds {
    display: flex;
    align-items: flex-start;
    padding-left: 10px;
    padding-right: 10px;
}

.divAllFeedsButton {
    cursor: pointer;
    /* padding: 6px; */
    padding: 4px 8px;
    margin: 4px 0 0 0;
    border: 2px solid var(--feedButtonColor);
    border-radius: 30px;
    background-color: var(--feedButtonColor);
    outline: none;
    min-width: 80px;
    font-weight: 600;
    font-size: 12px;
    text-align: center;
    color: var(--feedButtonTextColor);
    transition: transform .2s;
}

.divAllFeedsButton:hover {    
    background-color: var(--feedButtonHoverColor);
    color: var(--feedButtonHoverTextColor);
    border: 2px solid var(--feedButtonColor);
}

.divFeedLinks {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-right: 2px;
    padding-left: 10px;
    border-left: 1px solid #cccccc;
    width: 100%;
}

.divFeedLinksButton {
    padding: 10px;
    background-color: var(--mainBackgroundColor);
    color: #4d4d4d;
}

.divFeedsWrapper {
    display: flex;
    align-items: flex-start;
    scrollbar-width: thin;
    /* transition: max-height .3s ease-out; */
}

.divFeedsHidden {
    overflow-y: hidden;
    max-height: 35px;
}

.divFeedsExpanded {
    overflow-y: auto;
    max-height: 70vh;
}

.divFeeds {
    display: flex;
    align-items: flex-start;
    justify-content: left;
    flex-wrap: wrap;
    width: 100%;
}

.feedLink {
    cursor: pointer;
    padding: 4px 8px;
    margin: 4px 3px 8px 3px;
    border: 2px solid var(--feedButtonColor);
    border-radius: 30px;
    background-color: var(--feedButtonColor);
    outline: none;
    min-width: 60px;
    transition: transform .2s;
    text-align: center;
    font-weight: 600;
    font-size: 12px;
    color: var(--feedButtonTextColor);
}

.feedLink:hover {
    background-color: var(--feedButtonHoverColor);
    color: var(--feedButtonHoverTextColor);
    border: 2px solid var(--feedButtonColor)
}

.divFeedsActive {
    background-color: var(--feedButtonHoverColor);
    color: var(--feedButtonHoverTextColor);
}