:root {
    --mainBackgroundColor: #ffffff;
    --feedButtonColor: #546c78;
    --feedButtonTextColor: #fbfbfb;
    --feedButtonHoverColor: #ffffff;
    --feedButtonHoverTextColor: #546c78;
}

.iconButton {
    border: none;
    outline: none;
    cursor: pointer;
    /* padding: 6px;     */
}

.divFeedBar {
    border: 2px solid #808080;
    border-radius: 5px;
    background-color: var(--mainBackgroundColor);
    padding: 10px;
    display: flex;
    align-items: flex-start;
    min-width: 100%;
    /* z-index: 100; */
}

.divAdd {
    display: flex;
    align-items: flex-start;
    padding-left: 4px;
    padding-right: 10px;
}

.divAddLink {
    padding: 8px;
    background-color: var(--mainBackgroundColor);
}

.divAllFeeds {
    display: flex;
    align-items: flex-start;
    padding-left: 10px;
    padding-right: 10px;
}

.divAllFeedsButton {
    cursor: pointer;
    padding: 8px;
    border: 2px solid var(--feedButtonColor);
    border-radius: 30px;
    background-color: var(--feedButtonColor);
    min-width: 80px;
    font-weight: 600;
    font-size: 11px;
    text-align: center;
    color: var(--feedButtonTextColor);
    transition: transform .2s;
}

.divAllFeedsButton:hover {    
    background-color: var(--feedButtonHoverColor);
    color: var(--feedButtonHoverTextColor);
    border: 2px solid var(--feedButtonColor);
}

.divFeedLinks {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-right: 2px;
    padding-left: 10px;
    border-left: 1px solid #cccccc;
    width: 100%;
}

.divFeedLinksButton {
    padding: 10px;
    background-color: var(--mainBackgroundColor);
}

.divFeedsWrapper {
    display: flex;
    align-items: flex-start;
    /* transition: max-height .3s ease-out; */
}

.divFeedsHidden {
    overflow-y: hidden;
    max-height: 36px;
}

.divFeedsExpanded {
    overflow-y: visible;
    max-height: 80vh;
}

.divFeeds {
    display: flex;
    align-items: flex-start;
    justify-content: left;
    flex-wrap: wrap;
    z-index: 100;
    width: 100%;
}

.feedLink {
    cursor: pointer;
    padding: 8px;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 8px;
    border: 2px solid var(--feedButtonColor);
    border-radius: 30px;
    background-color: var(--feedButtonColor);
    min-width: 70px;
    transition: transform .2s;
    text-align: center;
    font-weight: 600;
    font-size: 11px;
    color: var(--feedButtonTextColor);
}

.feedLink:hover {
    background-color: var(--feedButtonHoverColor);
    color: var(--feedButtonHoverTextColor);
    border: 2px solid var(--feedButtonColor)
}

.divFeedsActive {
    background-color: #37474f;
    color: #fbfbfb;
}